table {
    width: 100%;
}

mat-checkbox {
    margin-left: 12px;
    margin-right: 12px;
}

.spacer {
    flex: 1 1 auto;
}

.mat-column-edit {
    width: 80px;
}

.mat-column-company {
    width: 100px;
}

.mat-column-reqdate {
    width: 140px;
}

.mat-column-valet {
    width: 60px;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}
